<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="蔡紫旻" />
   <link href="rss point" rel="alternate" title="Zimin Cai" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
   <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Zimin Cai (蔡紫旻)</a>
    <a class="extra" href="/"></a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Zimin Cai (蔡紫旻)<br />
        caizimin@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/caizimin/">github.com/caizimin</a><br />
        <a href="http://weibo.com/u/1403611423/">t.cn/u/1403611423</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="rss point">
        <img src="" alt="Subscribe to RSS" />
      </a>
    </div>
  </div>
</div>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'caizimin'; // required: replace example with your forum shortname
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

</body>
</html>
